.border-t-p-dashed{
    padding-bottom: 10px;
}
.link-custom{
    color: #f5f5f5;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}
.pm-news-post-link-camera{
  left: 122px !important;
}
.btn-custom{
  margin:0px 0px 10px 10px !important;
  float: right !important;
  padding: 5px 5px !important;
  border: 2px solid #626262 !important;
  font-weight: normal !important;
  background-color: #242424;
}
.form-control {
    padding-right: 30px;
}

.form-control + button  {
    position: absolute;
    right: 20px;
    top: 7px;
    border: 0;
    background-color: transparent;
    box-shadow: none;
}
.f-l{
  float: left !important;
}
.f-r{
  float: right !important;
}
.f-n{
  float: none !important;
}
.m-l-lg{
  margin-left: 15px !important;
}
.m-r-lg{
  margin-right: 15px !important;
}
.header-search-custom{
  padding: 5px 5px !important;
  border: 1px solid red !important;
  border-radius: 0;
  font-weight: normal !important;
  background-color: #1D0000;
  box-shadow: none !important;
}
@media only screen and (max-width: 460px) {
    .btn-custom{
        float: none !important;
        width: 100%;
    }
    .search_res{
        width: 100%;
        margin-right: -3.5%;
    }
}

@media only screen and (min-width: 990px){
    .mob-filter {
        display: none;
    }
    .filter-menu{
        display: block !important;
    }
}
@media only screen and (max-width: 990px){
	header{
		display: none !important;
	}
    .mob-filter{
        display: block !important;
        margin-top: 10px;
        margin-bottom: -16px;
    }
    .pm-dropmenu-active{
        position: static;
    }
    .mob-filter .pm-dropmenu{
        display: block !important;
    }
    .filter-menu{
        display: none;
    }
}
